<%- layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Project</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/admin/newproject" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="project[title]">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" id="description" name="project[description]">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="project[location]">
                </div>

                <!-- <div class=" mb-3">
                    <label class="form-label" for="projectStatus">Project Status</label>
                    <input class="form-control" type="text" id="projectStatus" name="project[projectStatus]">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="siteArea">Site Area</label>
                    <input class="form-control" type="text" id="siteArea" name="project[siteArea]">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="projectArea">Project Area</label>
                    <input class="form-control" type="text" id="projectArea" name="project[projectArea]">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="projectType">Project Type</label>
                    <input class="form-control" type="text" id="projectType" name="project[projectType]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="projectTeam">Project Team</label>
                    <input class="form-control" type="text" id="projectTeam" name="project[projectTeam]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="collaborators">Collaborators</label>
                    <input class="form-control" type="text" id="collaborators" name="project[collaborators]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="photographyName">Photography Name</label>
                    <input class="form-control" type="text" id="photographyName" name="project[photographyName]">
                </div> -->
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="images" id="images">
                    <label class="input-group-text" for="images">Upload</label>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add New Project</button>
                </div>
            </form>
        </div>
    </div>