<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/admin/dashboard"><img
                src="https://res.cloudinary.com/der87w8ap/image/upload/w_200/v1690565049/ProjectImages/lgmeml5aeqbzb7qfiaok.jpg"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                <a class="nav-link" href="/admin/allprojects">All Projects</a>
                <a class="nav-link" href="/admin/newproject">New Project</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/admin/login">Admin Login</a>
                    <a class="nav-link" href="/admin/register">Admin Register</a>
                    <% } else {%>
                        <a class="nav-link" href="/admin/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>