.ContactDetails {
    display: flex;
    font-size: larger;
}

.ContactBG {
    background-color: #343a40;
    overflow: hidden;
    color: white;
    font-family: Fahkwang;
    height: 100vh;
}

.ContactHeading {

    text-align: center;
    padding: 40px;
}

.ContactHeading h3 {
    font-size: 50px;
}

.ContactDetails img {
    height: 4vh;
}

.ContactDetails p {
    font-size: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

#ContactSocial {
    margin-left: 3%;
}

#ContactIcons {
    margin-right: 5%;
}

#ContactColumn {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10%;
    margin-top: 5%;
}

.ContactRows {
    margin-left: 7%;
    margin-bottom: 9%;
}

.ContactForm input {
    background-color: #212529;
    color: white;
    border: 0px;
    height: 7vh;
}

.ContactForm input::placeholder {
    color: #797979;
}

.ContactForm input:hover {
    background-color: #212529;
    border: 1px solid #20c997;
    outline: 0px;
}

.ContactForm textarea {
    background-color: #212529;
    color: white;
    border: 0px;
}

.ContactForm textarea:hover {
    background-color: #212529;
    border: 1px solid #20c997;
    outline: 0px;
}

.ContactForm input:focus {
    background-color: #212529;
    border-bottom: 1px solid #20c997;
    color: white;
}

.ContactForm textarea:focus {
    background-color: #212529;
    border-bottom: 1px solid #20c997;
    color: white;
}

.ContactForm textarea::placeholder {
    color: #797979;
}

#MyButtonLight {
    background-color: #343a40;
    color: #20c997;
    border: 1px solid #20c997;
    width: 20%;
}

#MyButtonLight:hover {
    background-color: #20c997;
    color: #212529;
}