@font-face {
    font-family: Fahkwang;
    src: local(FahkwangRegular),
        url('./fonts/Fahkwang-Regular.ttf')format('ttf'),
        url('./fonts/Fahkwang-Regular.woff')format('woff'),
        url('./fonts/Fahkwang-Regular.woff2')format('woff2');
}



#NavDiv a {
    color: white;
}


.MyNavBar {
    font-family: Fahkwang;
    background-color: #111418;
    height: 5rem;
}

.navbar-brand img {
    margin-left: 8%;
    max-width: 11vw;
    min-width: 100px;
    /* find suitable value for you */
    display: block;
    width: 100%;

}

#BrandLogo {
    margin-left: 8%;
}

#NavUl {
    margin-left: 15%;
}

.nav-item {
    margin-left: 3%;
}

.NavButton {
    margin-left: 10%;
    width: 20%;
}

.ButtonLi {
    width: max-content;
    padding: 0%;
}


.NavSocial img {
    max-width: 4vh;
}

.social-li {
    margin-left: 10%;
}

